html {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color:antiquewhite
}

nav ul {
    list-style-type: none;
    width: 100%;
}
nav ul a {
    text-decoration: none;
    display: block;
    border: 1px solid green;
}


@media screen and (min-width: 600px) {
    
    nav ul a{
        display: inline-block;
        float:left;

    }
    
    nav ul a:after {
        clear: left;
    }
}
